/*style*/
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

p {
  font-size: 1.2em;
}

  
#content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

#left {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#right {

}

div {
  margin: 10px;
}

.lobby {
  display: block;
  border: thin solid greenyellow;
}
.lobby :hover {
  background: forestgreen;
}

.menuItem {
  display: block;
  border: thin solid greenyellow;
}

.menuItem :hover {
  background: forestgreen;
}

.orderItem {
  display: block;
  border: thin solid greenyellow;
}

.restaurant {
  border: thin solid black;
  display: block;
  font-size: 1.5em;
}


  
  
  
